@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.button-primary {
  background-color: #3d70f2;
  color: #fff;
  max-width: 400px;
}

.button-secondary {
  color: #3d70f2;
  max-width: 400px;
  width: 100%;
  border: solid 1px #446FDB;
}

h1 {
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

p, ul{
  font-size: 16px;
}

.small{
  font-size: 14px;
}
